.container{
    width: 85%;
    margin-left: 12%;
    margin-right: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
 }

.pollos{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;
   width: 100%;
   margin-bottom: 40px;
   margin-top: 20px;
}

.pollo{
    text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
}

.pollo:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }

.borrar{
    border: border;
    border-radius: 20px;
    padding: 3px 6 px;
    background-color: white;
    cursor: pointer;
}

.actualizar{
    border: border;
    border-radius: 20px;
    padding: 3px 6 px;
    background-color: white;
    cursor: pointer;
}

.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}
.formButton{
    width: 250px;
    padding: 10px;
    border: none;
    padding: 10px;
    background-color: rgb(244, 142, 74);
    color: white; 
    font-weight: bold;
    cursor: pointer;
}