.grid{
    display: flex;
    flex-direction: column;
    margin:150px auto;
    width: 800px;

}

table{

    border-collapse: collapse;
    width: 100%;
    border: 2px solid;
}

th, td {
    border: solid 1px black;

}